@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import "./animation.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

nav {
  background-color: pink;
  padding: 0rem 1rem;
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-family: "Noto Serif Display", serif;
  border-bottom: 1px solid #000;

  a {
    text-decoration: none;
    color: black;
    .logo {
      font-size: 2.5rem;
      padding: 5px;
    }
  }

  .nav-list {
    list-style: none;

    li {
      padding: 5px;
      font-size: 1.3rem;
    }
  }
}

.reserved {
  width: 100%;
  height: 69px;
}

.none {
  display: none;
}
.loading-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .loading {
    width: MIN(40%, 300px);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  .text {
    position: absolute;
    width: 100%;
    text-align: center;
    text-stroke: 2px white;

    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: MAX(2.5rem, 5vw);
    z-index: 10;
  }
}

.delete-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  // align-items: center;

  padding: 1.5rem;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: black;
  color: white;
  width: 30%;
  // height: 30vh;
  filter: none;
  z-index: 10;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  .icon {
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
  }

  .text {
    font-size: 1.5rem;
    text-align: center;
  }

  .instruction {
    font-size: 1rem;
    text-align: left;
    padding-top: 1rem;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    input {
      height: 2rem;
      padding: 0.5rem;
    }

    button {
      font-size: 1.5rem;
      background: transparent;
    }
  }

  .wrong {
    font-weight: bold;
    color: red;
    text-align: center;
  }
}

.user-list {
  padding: 0rem 10rem;
  // border: 1px solid black;
  font-family: "Noto Serif Display", serif;
  width: 20%;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  .icon {
    font-size: 2.5rem;
    margin: 1rem;
    text-align: center;
  }
  ul {
    list-style: decimal;

    li {
      margin: 1rem;
      font-size: 1.3rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);

      .delete-icon {
        margin-left: 5rem;
        cursor: pointer;
      }
    }
  }
}
