/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

nav {
  background-color: pink;
  padding: 0rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  font-family: "Noto Serif Display", serif;
  border-bottom: 1px solid #000;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a .logo {
  font-size: 2.5rem;
  padding: 5px;
}

nav .nav-list {
  list-style: none;
}

nav .nav-list li {
  padding: 5px;
  font-size: 1.3rem;
}

.reserved {
  width: 100%;
  height: 69px;
}

.none {
  display: none;
}

.loading-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading-overlay .loading {
  width: MIN(40%, 300px);
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.loading-overlay .text {
  position: absolute;
  width: 100%;
  text-align: center;
  text-stroke: 2px white;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: MAX(2.5rem, 5vw);
  z-index: 10;
}

.delete-box {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background: black;
  color: white;
  width: 30%;
  -webkit-filter: none;
          filter: none;
  z-index: 10;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.delete-box .icon {
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
}

.delete-box .text {
  font-size: 1.5rem;
  text-align: center;
}

.delete-box .instruction {
  font-size: 1rem;
  text-align: left;
  padding-top: 1rem;
}

.delete-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.delete-box form input {
  height: 2rem;
  padding: 0.5rem;
}

.delete-box form button {
  font-size: 1.5rem;
  background: transparent;
}

.delete-box .wrong {
  font-weight: bold;
  color: red;
  text-align: center;
}

.user-list {
  padding: 0rem 10rem;
  font-family: "Noto Serif Display", serif;
  width: 20%;
  position: fixed;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.user-list .icon {
  font-size: 2.5rem;
  margin: 1rem;
  text-align: center;
}

.user-list ul {
  list-style: decimal;
}

.user-list ul li {
  margin: 1rem;
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.user-list ul li .delete-icon {
  margin-left: 5rem;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .typing {
  width: MIN(50%, 600px);
  left: 0;
  top: 0;
}

.header .right-box {
  width: MIN(100%, 1000px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .right-box .edit {
  width: 90%;
  border: 1px solid;
  padding: 10px;
  -webkit-box-shadow: 5px 10px;
          box-shadow: 5px 10px;
}

.header .right-box .auth-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  border-radius: 5px;
  margin: 1rem;
  border: 1px solid;
  padding: 10px;
  -webkit-box-shadow: 5px 10px;
          box-shadow: 5px 10px;
}

.header .right-box .auth-container .join-us {
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

.header .right-box .auth-container .login-inner form,
.header .right-box .auth-container .signup-inner form {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  gap: 0.9rem;
}

.header .right-box .auth-container .login-inner form a,
.header .right-box .auth-container .signup-inner form a {
  text-decoration: none;
}

.header .right-box .auth-container .login-inner form input,
.header .right-box .auth-container .signup-inner form input {
  padding: 0.5rem;
  width: 100%;
  height: 2.5rem;
}

.header .right-box .auth-container .login-inner form button,
.header .right-box .auth-container .signup-inner form button {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #e8e6e7;
}

.header .right-box .auth-container .login-inner form .google,
.header .right-box .auth-container .signup-inner form .google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.header .right-box .auth-container .login-inner form .google img,
.header .right-box .auth-container .signup-inner form .google img {
  padding: 0.3rem;
}

.header .right-box .auth-container .login-inner form .switch,
.header .right-box .auth-container .signup-inner form .switch {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .typing {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.console {
  width: 100%;
  font-family: "Noto Serif Display", serif;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.console .console-nav {
  width: 15%;
  margin-left: 1rem;
}

.console .console-nav .item {
  margin: 1rem 0.5rem;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #595656;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px gray;
          box-shadow: 3px 3px 5px gray;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.console .console-nav .item .icon {
  margin: 1rem;
  font-size: 2rem;
  left: 0;
}

.console .console-main {
  width: 100%;
  margin-left: 3rem;
}

.console .console-main .docs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.console .console-main .docs a {
  text-decoration: none;
  width: MIN(90%, 300px);
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem;
  -webkit-box-shadow: 5px 10px black;
          box-shadow: 5px 10px black;
  color: black;
}

.console .console-main .docs a .doc-pic {
  width: 100%;
}

.console .console-main .docs a .doc-desc {
  padding: 0.5rem;
}

@media only screen and (max-width: 1000px) {
  .console {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .console .console-nav {
    margin: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .console .console-nav .item {
    font-size: 1rem;
    margin: 0.5rem;
  }
  .console .console-nav .item .icon {
    font-size: 1rem;
  }
  .console .console-main {
    margin: 0;
  }
  .console .console-main .docs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e8e6e7;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
}

.not-authorized {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background: black;
  color: white;
  width: 40%;
  -webkit-filter: none;
          filter: none;
  z-index: 10;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.not-authorized .forbidden {
  font-size: 3rem;
}

.not-authorized .text {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Noto Serif Display", serif;
}

.not-authorized .back {
  background: transparent;
  border-radius: 50px;
  border: 1px solid white;
  margin: 1.5rem;
  padding: 1.5rem;
  cursor: pointer;
}

.control-bar {
  width: MAX(100%, 1000px);
  background-color: #e8e6e7;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control-bar .public {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-bar .public .doc-icon {
  font-size: 1.5rem;
}

.control-bar .public form .title-input {
  background-color: transparent;
  height: 100%;
  font-size: 1.3rem;
  border: none;
  padding: 0.5rem;
}

.control-bar .public form .title-input:focus, .control-bar .public form .title-input:hover {
  border: 1px solid rgba(0, 0, 0, 0.282);
}

.control-bar .public .save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.control-bar .public .save .save-icon {
  width: 1.5rem;
  color: #4285f4;
}

.control-bar .host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control-bar .host form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control-bar .host form input {
  height: 100%;
  font-size: 0.8rem;
  border: none;
  padding: 0.5rem;
}

.control-bar .host form button {
  background: transparent;
  border: none;
}

.control-bar .host form button .icon {
  font-size: 1.5rem;
  margin: 0rem 0.5rem;
  cursor: pointer;
}

.control-bar .host .icon {
  font-size: 1.5rem;
  margin: 0rem 1rem;
  cursor: pointer;
}

.container {
  width: MAX(100%, 1000px);
}

.container .ql-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  background-color: #e8e6e7;
  border: none;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.container .ql-container {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .ql-container .ql-editor {
  font-family: sans-serif;
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

@page {
  margin: 1in;
}

@media print {
  body {
    background-color: none;
  }
  body .container .ql-toolbar {
    display: none;
  }
  body .container .ql-container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */